*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, sans-serif;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:25px 80px;

    background:white;

    position:fixed;

    top:0;

    width:100%;

    z-index:1000;
}

.logo h1{
    color:#00AEEF;
}

nav a{
    text-decoration:none;
    color:#222;
    margin-left:30px;
    font-size:14px;
    transition:.3s;
}

nav a:hover{
    color:#00AEEF;
}

.hero{
    position:relative;

    height:85vh;

    background-image:url("../img/banner.jpg");
    background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;
    margin-top:90px;
}

.overlay{
    position:absolute;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,.45);
}

.hero-contenido{
    position:relative;

    z-index:2;

    margin-left:100px;

    color:white;

    max-width:600px;

    text-shadow:2px 2px 8px rgba(0,0,0,.6);
}

.hero-contenido h2{
    font-size:55px;
    margin-bottom:10px;
}

.hero-contenido h3{
    color:#00AEEF;
    font-size:40px;
    margin-bottom:20px;
    
}

.hero-contenido p{
    font-size:18px;
    margin-bottom:25px;
}

.btn{
    display:inline-block;

    background:#00AEEF;

    padding:15px 35px;

    border-radius:5px;

    text-decoration:none;

    color:white;

    font-weight:bold;

    transition:0.3s;
}

.btn:hover{
    transform:scale(1.05);
}

.servicios{
    padding:80px 100px;
    background:#f8f8f8;
}

.titulo-seccion{
    margin-bottom:40px;
}

.titulo-seccion p{
    color:#00AEEF;
    font-weight:bold;
}

.titulo-seccion h2{
    font-size:2.5rem;
    color:#222;
}

.grid-servicios{
    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;
}

.card{
    background:white;

    overflow:hidden;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

    transition:.3s;
}
.card:hover{
    transform:translateY(-8px);

    box-shadow:0 15px 25px rgba(0,0,0,.15);
}
.card img{
    width:100%;

    height:220px;

    object-fit:cover;

    display:block;
}
.contenido-card{
    padding:20px;
}

.contenido-card h3{
    margin-bottom:10px;

    color:#222;
}

.contenido-card p{
    color:#555;

    line-height:1.5;
}

.trabajos{
    padding:80px 100px;
    background:white;
}
.galeria{
    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:30px;
}
.trabajo{
    position:relative;

    overflow:hidden;

    box-shadow:0 5px 15px rgba(0,0,0,.1);
}
.trabajo img{
    width:100%;

    height:300px;

    object-fit:cover;

    transition:.4s;
}
.trabajo:hover img{
    transform:scale(1.05);
}
.info-trabajo{
    background:white;

    padding:20px;
}

.info-trabajo h3{
    color:#222;
}
.contacto{
    padding:80px 100px;
    background:#f8f8f8;
}
.contacto form{
    max-width:700px;
    margin:auto;

    display:flex;
    flex-direction:column;
    gap:20px;
}
.contacto input,
.contacto textarea{

    padding:15px;

    border:1px solid #ccc;

    font-size:16px;
}
.contacto button{

    background:#00AEEF;

    color:white;

    border:none;

    padding:15px;

    cursor:pointer;

    transition:.3s;
}
.contacto button:hover{
    opacity:.9;
}
footer{
    background:#0B1F33;

    color:white;

    text-align:center;

    padding:40px 20px;
}

.footer-contenido h3{
    color:#00AEEF;

    margin-bottom:15px;
}

.footer-contenido p{
    margin:10px 0;
}

